 body {
  background-image: url('./assets/934.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.rav {
  background-color: $rav-blue;
  border: 3px solid $rav-silver;
  color: $rav-silver;
  font-family: $bodyfont;
  font-size: 1.5rem;

  &:hover {
    text-decoration: underline;
    background-color: $rav-blue-hover;
    color:$rav-silver-hover;
  }
}

.gryf {
  background-color: $gryf-red;
  border: 3px solid $gryf-gold;
  color: $gryf-gold;
  font-family: $bodyfont;
  font-size: 1.5rem;

  &:hover {
    text-decoration: underline;
    background-color: $gryf-red-hover;
    color:$gryf-gold-hover;
  }
}

.huf {
  background-color: $huf-yellow;
  border: 3px solid $huf-black;
  color: $huf-black;
  font-family: $bodyfont;
  font-size: 1.5rem;

  &:hover {
    text-decoration: underline;
    background-color: $huf-yellow-hover;
    color:$huf-black-hover;
  }
}

.sly {
  background-color: $sly-green;
  border: 3px solid $sly-silver;
  color: $sly-silver;
  font-family: $bodyfont;
  font-size: 1.5rem;

  &:hover {
    text-decoration: underline;
    background-color: $sly-green-hover;
    color:$sly-silver-hover;
  }
}

.btn-container {
  background-color: $boardBg;
  display: grid;
  margin: 4rem;
  text-align: center;
  width: 50%;

  h2 {
    color: hsl(39, 28%, 18%);
    font-family: $bodyfont;
  }
}

.btn {
  margin: 1rem;
  padding: .5rem;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    box-shadow: 3px 3px 4px rgba(0,0,0,0.5);
  }
}