.house-crest {
  width: 85%;
}

.player-section {
  background-color: $boardBg;
  display: flex;
  flex-direction: column-reverse;
  padding-right: 10px;
  width: 25%;

  h6 {
    color: papayawhip;
    display: inline;
    font-family: $bodyfont;
    font-size: 1rem;
    margin: auto auto;
    text-shadow: -2px 1px 3px saddlebrown;
  }
}

.left-side {
  display: grid;
  grid-template-areas: 
  "l-house l-crest"
  "l-points l-crest";
  grid-auto-columns: 2fr 1fr;

  .left-house {
    grid-area: l-house;
  }

  .left-points {
    grid-area: l-points;
  }

  img {
    grid-area: l-crest; 
    width: 100%;
  }

}