.info-popup {
  background-color: $boardBg;
  color: white;
  font-family: $bodyfont;
  font-size: 1.5rem;
  margin: 1rem auto;
  padding: 10px;
  text-align: center;
  width: 65%;

  button {
    font-family: $bodyfont;
    font-size: 1rem;
    padding: 5px 10px;
    cursor: pointer;
  }

  h3 {
    margin: .5rem;
    letter-spacing: 2px;
    text-decoration: underline;
    text-transform: uppercase;
  }
}

.game-board {
  background-color: $boardBg;
  margin: 1rem auto;
  width: $boardW;
}