.info-popup {
  background-color: $boardBg;
  color: $board-text;
  font-family: $bodyfont;
  font-size: 1rem;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 65%;

  button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: $board-text;
    color: $board-btn-text;
    font-family: $bodyfont;
    font-size: 1rem;
    margin: .5rem;
    padding: 5px 10px;

    &:hover {
      background-color: $board-background-hover;
      color: $board-btn-text-hover;
      text-decoration: underline;
    }
  }

  h3 {
    margin: .5rem;
    letter-spacing: 2px;
    text-decoration: underline;
    text-transform: uppercase;
  }

  p {
    font-size: 1rem;
  }
}

.game-board {
  background-color: $boardBg;
  width: $boardW;
}

.game-container {
  display: flex;
  justify-content: space-between;
}